# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
build/tm

# Cmake
build/cmake_install.cmake
build/CMakeFiles
build/CMakeCache.txt
build/Makefile

# Temporary files
tmp/
*.db
